#
# Copyright (C) 2023 Jamie M.
#
# SPDX-License-Identifier: Apache-2.0
#

config MCUBOOT_WATCHDOG_SETUP
	bool "Setup watchdog at boot"
	default y
	select WATCHDOG
	select MCUBOOT_ACTION_HOOKS

config MCUBOOT_WATCHDOG_TIMEOUT
	int "Watchdog timeout (seconds)"
	range 10 7200
	depends on MCUBOOT_WATCHDOG_SETUP
